
@model IEnumerable<WebModuleTry1.Models.User>

@* <table> *@
@*     <thead> *@
@*     <tr><th>ID</th><th>Name</th><th>Email</th></tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var p in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@p.Id</td> *@
@*             <td>@p.Name</td> *@
@*             <td>@p.Email</td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@